body{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(255, 0, 235, 0.45)
    ),
    url("https://66.media.tumblr.com/c97868160fc2d5ddf9ea546e0853c0b6/tumblr_n7kjymW5QH1r7xp9co1_500.gif");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    width: 100%;
  }
  .container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 50%;
    text-align: center;
  }
  h1 {
    font-size: 64px;
    color: white;
  }
  p{
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .form-group input {
    height: 45px;
  }
