<div *ngIf="artist">
  <header class="artist-header">
    <!--if statement -->
    <div *ngIf="artist.images.length > 0">
      <img class="artist-thumb img-circle" src="{{artist.images[0].url}}">
    </div>
    <h1>{{artist.name}}</h1>
    <p *ngIf="artist.genres.length > 0">
      Genre(s):
      <span *ngFor="let genre of artist.genres">
        <li class="text">
          {{genre}}
        </li>

      </span>
    </p>
  </header>

  <div class="artist-albums">
    <div *ngFor="let album of albums row">
      <div class="well album col-md-4">
        <div *ngIf="album.images.length > 0">
          <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">
          <h4>{{album.name}}</h4>
          <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Album Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
